<!DOCTYPE html>
<html lang="en" class="fullscreen">
{%include head.html%}
  <body>
	<!-- WRAPPER -->
	 <div class="wrapper">
     {%include navbar.html%}
     {%include clinicNavbar.html%}
     {%include header.html%}
     {% if page.alertmsg contains "" %}
        <div class="alert alert-{{page.alerttype}} alert-dismissible" role="alert">
          							<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <div class="container padding-left=0px padding-right=0px">
          <p style="font-size:16px; margin:0px">
            {{ page.alertmsg }}
          </p>
        </div>
      </div>
     {%endif%}
     <!-- PAGE CONTENT -->
 		<div class="page-content">
 			<div class="container">
        <h1><span style="color: #15378a">{{page.subtitle}}</span></h1>

         {{ content }}
       </div>
     </div>
     <!-- END PAGE CONTENT -->
         {% include footer.html %}
    </div>
    <!-- END WRAPPER -->
    <!-- JAVASCRIPTS -->
    <script src="{{ site.url }}{{ site.path }}/assets/js/jquery-2.1.1.min.js"></script>
    <script src="{{ site.url }}{{ site.path }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.url }}{{ site.path }}/assets/js/plugins/slick/slick.min.js"></script>
    <script src="{{ site.url }}{{ site.path }}/assets/js/plugins/easing/jquery.easing.min.js"></script>
    <script src="{{ site.url }}{{ site.path }}/assets/js/plugins/scrollto/jquery.localscroll-1.2.7-min.js"></script>
    <script src="{{ site.url }}{{ site.path }}/assets/js/plugins/scrollto/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="{{ site.url }}{{ site.path }}/assets/js/plugins/autohidingnavbar/jquery.bootstrap-autohidingnavbar.min.js"></script>
    <script src="{{ site.url }}{{ site.path }}/assets/js/repute-scripts.js"></script>

  </body>
</html>
