<!DOCTYPE html>
<html lang="en" class="fullscreen">
{%include head.html%}
  <body>
	<!-- WRAPPER -->
	 <div class="wrapper">
     {%include navbar.html%}
     {% if site.title contains "MMED" or site.title contains "DAIDD" %}
      {%include clinicNavbar.html%}
      {%include header.html%}
     {%endif%}
    {% include alert alerttype=page.alerttype alertmsg=page.alertmsg %}
     <!-- PAGE CONTENT -->
 		<div class="page-content">
 			<div class="container">
      {% include profile.html %}
      {{content}}
      </div>
    </div>
    <!-- END PAGE CONTENT -->
        {% include footer.html %}
   </div>
   <!-- END WRAPPER -->
   <!-- JAVASCRIPTS -->
<<<<<<< HEAD
  {% include jsblock.html %}
=======
   <script src="{{site.url}}/assets/js/jquery-3.7.0.min.js"></script>
   <script src="{{site.url}}/assets/js/bootstrap.min.js"></script>
   <script src="{{site.url}}/assets/js/plugins/slick/slick.min.js"></script>
   <script src="{{site.url}}/assets/js/plugins/easing/jquery.easing.min.js"></script>
   <script src="{{site.url}}/assets/js/plugins/scrollto/jquery.localscroll-1.2.7-min.js"></script>
   <script src="{{site.url}}/assets/js/plugins/scrollto/jquery.scrollTo-1.4.3.1-min.js"></script>
   <script src="{{site.url}}/assets/js/plugins/autohidingnavbar/jquery.bootstrap-autohidingnavbar.min.js"></script>
   <script src="{{site.url}}/assets/js/repute-scripts.js"></script>
>>>>>>> 46ec5a8 (updating jquery and js scripts -> disaster!)

 </body>
</html>
